@font-face {
    font-family: "polariscondensed";
    src: url("../fonts/polariscondensed-bold-webfont.woff"),
		url("../fonts/polariscondensed-bold-webfont.eof"),
		url("../fonts/polariscondensed-bold-webfont.svg"),
		url("../fonts/polariscondensed-bold-webfont.ttf");
}

@font-face {
    font-family: "polaris";
    src: url("../fonts/polaris-book-webfont.woff"),
		url("../fonts/polaris-book-webfont.eof"),
		url("../fonts/polaris-book-webfont.svg"),
		url("../fonts/polaris-book-webfont.ttf");
}

@font-face {
    font-family: "polarisbold";
    src: url("../fonts/polaris-bold-webfont.woff"),
		url("../fonts/polaris-bold-webfont.eof"),
		url("../fonts/polaris-bold-webfont.svg"),
		url("../fonts/polaris-bold-webfont.ttf");
}


h1{
	color: #222222; 
	opacity: 1; 
	font-size: 12.5px; 
	font-family:'polarisbold';
	letter-spacing: 0px;
	width: 94%; 
	background-color: white; 
	padding:2%; 
	margin-left: 1%; 
	margin-bottom:6px; 
	line-height: 1.5;
	float:left;
	margin-top:0px; 
	margin-right:6px; 
}

h1:nth-of-type(2)
{
	margin-top:3%; 
}

.summary{
	line-height: 1.5;
	letter-spacing: 2.1px;
	float:left; 
	margin-bottom: 20px;
	margin-top:2%; 	
	font-family:'polariscondensed';
	font-size: 24px; 

}

.quantidade{
	color: #AAAAAA;
	float:right; 
	margin-top:3.5%; 
	line-height: 1.5;
	letter-spacing: 0.8px;
	font-family:'polaris';
	font-size:13px; 
}

.gpb{
	float:right; 
	font-family:'polaris';
	line-height: 1.5;
}

.taxes{
	float:right;
	color: #AAAAAA; 
	margin-bottom: 2%; 
}

.total{
	float: left; 
	font-family:'polarisbold';
	margin-bottom:6px; 
	line-height: 1.5;
}

.shoppingBag{
	margin-right:1%; 
	margin-top:1%; 
	width: 20%; 
	background-color: white;
	background-color: white;
	float:left; 
	padding-left:1%; 
	padding-right:1%; 
	
}

.clear{
	clear: left;
}

.creator{
	letter-spacing: 2.2px;
	font-family:'polariscondensed';
	font-size: 13px; 
}

.mybag, .bag{
	margin-left: 1%;
}

.product{
	margin-right: 6px; 
	background-color: white;
	text-align:center;
	float:left; 
	margin-bottom:6px; 
}

.prods{
	width:77%; 
	float:left; 
	margin-top:1%; 
}


img{
	width: 180px; 
	margin: 20px; 
}

body{
	background-color: #f0f0f5; 
}
	

button{
	border: 1px solid  #DDDDDD;
    border-radius: 40px;
	background-color:white; 
	padding: 5px 20px 5px 20px; 
	margin: 30px 45px 30px 45px; 
	box-shadow: 1px 0px 1px;
	-moz-box-shadow: 1px 0px 1px;
	-webkit-box-shadow: 1px 0px 1px;
	letter-spacing: 0.1px;
	opacity:1; 
	width: 157px; 
	font-family:'polarisbold';
	font-size:13px; 
}

.description, .price{
	font-family:'polaris';
	font-size:13px; 
	letter-spacing: 0px;
}

button:hover{
	background-color:#DDDDDD; 
}

.promotion, .pricefinal, .oldprice, .pricefinalred{
	display: inline-block;
}

.oldprice{
	color: #AAAAAA; 
	text-decoration:  line-through;
	
}

.pricefinalred{
	color:red; 
}

@media (max-width: 960px) {
  .shoppingBag {
    float:left; 
	width:96%; 
	margin-bottom:10px; 
	margin-left:1%; 
  }
  
  .prods{
	  width:100%; 
  }
 
}




